[Unit]
Description=PulseAudio system server
After=network.target network-online.target

[Service]
Type=notify
ExecStart=pulseaudio --daemonize=no --system --realtime --log-target=journal --disallow-exit --disallow-module-loading

[Install]
WantedBy=multi-user.target